/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

nav{
  background-color: white;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #e6e6e6;
}

body{
  background-color: #fafafa;
}

.companyTitle{
  font-family: 'Leckerli One', cursive;
}

.navleft{
  padding-left: 10%;
}


.navright{
  padding-right: 10%;
}

.bodyleft{
  padding-left: 10%;
}


.bodyright{
  padding-right: 6%;
}

.buttons{
  display: inline-block;
  border: none;
  background: none;
}

.postdiv{
  background-color: white;
  margin-top: 5%;
  margin-bottom: 5%;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #e6e6e6;
}

.postAuthor{
  text-decoration: none;
}

.postBorderBottom{
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #e6e6e6;
}

.postAuthor > img{
  height: 35px;
  width: 35px;
}

.postAuthor > a{
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.postAuthor{
  font-weight: bold;
  display: inline-block;
  color: black;
}



.welcomeHeader{
  text-align: center;
  padding-top: 15%;
}

.welcomeBody{
  text-align: center;
  padding: 4%;
  background-color: snow;
  color: black;
  margin-right: 25%;
  margin-left: 25%;
  border-radius: 15px;
}

.welcomeButton{
  color: white;
  background-color: #1166d0;
  border-radius: 10px;
  padding: 2%;
}


.backgroundUserSignedIn{
  background-color: white;
}

.backgroundUserSignedOut{
  background-color: #1166d0;
  color: white;
}


.white{
  color: white;
  padding-left: 20px;
}

.title{
  font-family: 'Leckerli One', cursive;
}

.subtitle{
  font-family: 'Josefin Sans', sans-serif;

}
